# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*egg-info
*.json
*.csv

# --- Environments ---
.env
.venv/
venv/
ENV/

# --- Testing & Quality ---
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
coverage.xml

# --- Logs ---
*.log
logs/

# --- IDEs ---
.vscode/
.idea/
.DS_Store
